export WIFI_SSID="NOS-C8C0 Plumes"
export WIFI_PASSWORD=$(security find-generic-password -wa $WIFI_SSID)
# esp toolchain does not load sdkconfig.defaults with a custom target dir
unset CARGO_TARGET_DIR
